name: Lint Commit Messages

on:
  # Disabled - uncomment to enable
  # push:
  #   branches:
  #     - master
  #     - "hotfix/*"
  # pull_request:
  workflow_dispatch:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: wagoid/commitlint-github-action@v6
